# pg_server_pg_stat_statement
Shows queries from pg_stat_statements
Cells: 
- Configure: Connect to a specfic DB
- Current size of each table: in KB, dead rows, bloat, data size, all indexes size,

In [15]:
import sqlalchemy
import pandas as pd
import configparser
import matplotlib.pyplot as plt 

# Read from the Config file
config = configparser.ConfigParser() 
config.read_file(open(r'../ipynb.cfg'))

con_str = config.get('con_str', 'PG_AIRBASES') 
engine = sqlalchemy.create_engine(con_str)

try:
    connection = engine.connect()
    print ("Opened Connection")
except (Exception, sqlalchemy.exc.SQLAlchemyError) as error:
    print("Error while connecting to PostgreSQL database:", error)

Opened Connection

## pg_stat_statement configuration
Notice! the notebook requires the extension pg_stat_statement. 
Show the configuration of the extension

In [16]:
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError
# While SQL can handle %, in python we need %% 
sql_command = """
select * 
from pg_settings
where name like 'pg_stat_statements.%%'
"""

try:
    # Execute the SQL command
    df = pd.read_sql_query(sql_command, connection)
    #Set the display options to show all columns without truncation
    pd.set_option('display.max_columns', None)
    pd.set_option('display.expand_frame_repr', False)   
    print(df)
except (SQLAlchemyError, ValueError) as e:
    # Handle any errors or raised exceptions
    raise e

                                name setting  unit            category                                         short_desc extra_desc        context  vartype              source min_val     max_val          enumvals boot_val reset_val                         sourcefile  sourceline  pending_restart
0             pg_stat_statements.max   10000  None  Customized Options  Sets the maximum number of statements tracked ...       None     postmaster  integer  configuration file     100  1073741823              None     5000     10000  /rdsdbdata/config/postgresql.conf        76.0            False
1            pg_stat_statements.save      on  None  Customized Options  Save pg_stat_statements statistics across serv...       None         sighup     bool             default    None        None              None       on        on                               None         NaN            False
2           pg_stat_statements.track     all  None  Customized Options  Selects which statements are tracked by pg_sta...       None  rds_superuser     enum  configuration file    None        None  [none, top, all]      top       all  /rdsdbdata/config/postgresql.conf        77.0            False
3  pg_stat_statements.track_planning     off  None  Customized Options  Selects whether planning duration is tracked b...       None  rds_superuser     bool             default    None        None              None      off       off                               None         NaN            False
4   pg_stat_statements.track_utility      on  None  Customized Options  Selects whether utility commands are tracked b...       None  rds_superuser     bool             default    None        None              None       on        on                               None         NaN            False

## Top 50 Queries
Shows the top 25 queries by the total exec time. 
Notice! The measures are since the last reset of the table. Use Metis to get the hourly diff.

In [18]:
import plotly.express as px

sql_command = """
select
	(total_exec_time + total_plan_time)::int as total_time,
	total_exec_time::int,
	total_plan_time::int,
	mean_exec_time::int,
	calls,
	query
from
	pg_stat_statements
order by
	total_time desc
limit 50;
"""

try:
    # Execute the SQL command
    df_top_tables_by_size = pd.read_sql_query(sql_command, connection)
    print(df_top_tables_by_size)

except (SQLAlchemyError, ValueError) as e:
    # Handle any errors or raised exceptions
    raise e

    total_time  total_exec_time  total_plan_time  mean_exec_time    calls                                              query
0     27574159         27574159                0           19337     1426  SELECT * FROM postgres_air.boarding_pass WHERE...
1     18120968         18120968                0              70   259208  SELECT calls, datname, local_blks_dirtied, loc...
2     16285833         16285833                0            2599     6266  EXPLAIN (ANALYZE, COSTS, VERBOSE, BUFFERS, TIM...
3      6801359          6801359                0            3479     1955  SELECT \n        count(distinct ss.id) AS serv...
4      5551708          5551708                0             147    37851            SELECT public.load_postgres_log_files()
5      5048302          5048302                0             115    43987                       MOVE ALL IN "query-cursor_1"
6      5000742          5000742                0           96168       52  with relevant_ids as (\nselect\ndistinct query...
7      4658503          4658503                0             123    37850                   DROP TABLE postgres_logs CASCADE
8      4302889          4302889                0            6413      671  select \n        queryid as query_id,\n       ...
9      4218386          4218386                0              24   172925  SELECT psd.datname, xact_commit, xact_rollback...
10     3503579          3503579                0              14   259208        SELECT COUNT(*) FROM pg_stat_statements($1)
11     2884182          2884182                0            1167     2472  with relevant_ids as (\nselect\n distinct quer...
12     2873475          2873475                0           31233       92  WITH lastUpdatedCTE AS (\n    SELECT created_a...
13     2522872          2522872                0             148    17022            SELECT public.load_postgres_log_files()
14     2416566          2416566                0             142    17022                   DROP TABLE postgres_logs CASCADE
15     2060257          2060257                0              62    33326            SELECT public.load_postgres_log_files()
16     1443926          1443926                0             254     5689  select \n        queryid as query_id,\n       ...
17     1392820          1392820                0             559     2492  WITH hourly_calls AS (\n        SELECT\n      ...
18     1381221          1381221                0              41    33325                   DROP TABLE postgres_logs CASCADE
19     1091767          1091767                0          545884        2  SELECT log_time, database_name, command_tag, m...
20     1054116          1054116                0          527058        2  SELECT log_time, database_name, command_tag, m...
21      936649           936649                0             210     4452  select *\nfrom (select * from postgres_air.boa...
22      924447           924447                0             151     6138  SELECT relid,\nrelname as table_name, \n(schem...
23      923899           923899                0               0  2335840  SELECT  datid, datname, pid, usesysid, usename...
24      905140           905140                0             304     2975  SELECT \n        n1.id AS migration_id, \n    ...
25      768770           768770                0             797      965  SELECT relid,\nrelname as table_name, \n(schem...
26      723914           723914                0             293     2473  with lagging_data as (\n select \nquery_id,\nq...
27      722242           722242                0          361121        2  SELECT log_time, database_name, command_tag, m...
28      712671           712671                0               0  2650479  select pid, usename, client_addr, client_hostn...
29      677877           677877                0             109     6245  SELECT\n oid,\n datname as database_name,\n pg...
30      652207           652207                0              46    14289  INSERT INTO metis.queries (query_id, query_tex...
31      634266           634266                0             941      674  select \n        queryid as query_id,\n       ...
32      609461           609461                0          304731        2  SELECT log_time, database_name, command_tag, m...
33      603877           603877                0          301939        2  SELECT log_time, database_name, command_tag, m...
34      538741           538741                0          269370        2  SELECT log_time, database_name, command_tag, m...
35      535292           535292                0          535292        1  SELECT log_time, database_name, command_tag, m...
36      520381           520381                0             160     3260  SELECT MAX("start_time") FROM (SELECT "public"...
37      511291           511291                0          255645        2  SELECT log_time, database_name, command_tag, m...
38      485263           485263                0          242631        2  SELECT log_time, database_name, command_tag, m...
39      454798           454798                0            1462      311  SELECT n.nspname AS schema, c.relname AS table...
40      449043           449043                0          224521        2  SELECT log_time, database_name, command_tag, m...
41      438962           438962                0             439     1001  /*\n Query to get custom user defined types (b...
42      431051           431051                0             434      994  /*\n Query to get custom user defined types (b...
43      427319           427319                0          213660        2  SELECT log_time, database_name, command_tag, m...
44      381830           381830                0          190915        2  SELECT log_time, database_name, command_tag, m...
45      344315           344315                0          344315        1  SELECT log_time, database_name, command_tag, m...
46      331218           331218                0          165609        2  SELECT log_time, database_name, command_tag, m...
47      295980           295980                0          295980        1  SELECT log_time, database_name, command_tag, m...
48      291434           291434                0          145717        2  SELECT log_time, database_name, command_tag, m...
49      285772           285772                0          142886        2  SELECT log_time, database_name, command_tag, m...