# Install Metis Light
1. Create a new database called ```metis```
2. Create a new schema called ```metis```
3. Create a new table ```metis.pg_stat_database_history``` to save the history as is (snapshot of pg_stat_database)
4. Create a new function ```metis.insert_pg_stat_database_history``` to insert data to the table. This function will be used by a pg_cron job. 
5. create a view ```metis.v_pg_stat_database_history``` to view the rate every 10 minutes. 
6. Create a new job to insert data to ```metis.pg_stat_database_history``` every 1 minute.

In [1]:
%%bash 
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/homebrew/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/homebrew/lib/python3.11/site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in /Users/itaybraun/Library/Python/3.11/lib/python/site-packages (from ipython-sql) (8.18.1)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/homebrew/lib/python3.11/site-packages (from ipython-sql) (2.0.25)
Requirement already satisfied: sqlparse in /opt/homebrew/lib/python3.11/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /Users/itaybraun/Library/Python/3.11/lib/python/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/homebrew/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/homebrew/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: decorator in /Users/itaybraun/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/itaybraun/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /Users/itaybraun/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/homebrew/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /Users/itaybraun/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in /Users/itaybraun/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in /Users/itaybraun/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (5.14.0)
Requirement already satisfied: pexpect>4.3 in /Users/itaybraun/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /Users/itaybraun/Library/Python/3.11/lib/python/site-packages (from prettytable->ipython-sql) (0.2.12)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /Users/itaybraun/Library/Python/3.11/lib/python/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/itaybraun/Library/Python/3.11/lib/python/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /Users/itaybraun/Library/Python/3.11/lib/python/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /Users/itaybraun/Library/Python/3.11/lib/python/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /Users/itaybraun/Library/Python/3.11/lib/python/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [55]:
import configparser

config = configparser.ConfigParser() 
config.read_file(open(r'../ipynb.cfg'))
con_str_metis = config.get('con_str', 'PG_TEMBO_DEV1_METIS')

In [56]:
# %sql postgresql://postgres:SejxQ8pHTR2gJF06@org-metis-inst-dev1.data-1.use1.tembo.io:5432/postgres
%sql {con_str_metis}

In [3]:
%%sql 

DO $$
BEGIN
    IF NOT EXISTS (
        SELECT * FROM pg_database
        WHERE datname = 'metis_1'
    ) THEN
        CREATE DATABASE metis_1; 
    ELSE
        RAISE NOTICE 'The database metis_1 already exist.';
    END IF;
END
$$;

UsageError: Cell magic `%%sql` not found.

## Change the connection string to use the new DB - Metis

In [34]:
%sql postgresql://postgres:SejxQ8pHTR2gJF06@org-metis-inst-dev1.data-1.use1.tembo.io:5432/metis_1

In [17]:
%%sql 

CREATE EXTENSION IF NOT EXISTS pg_stat_statements;

CREATE SCHEMA IF NOT EXISTS metis;

 * postgresql://postgres:***@org-metis-inst-dev1.data-1.use1.tembo.io:5432/metis
   postgresql://postgres:***@org-metis-inst-dev1.data-1.use1.tembo.io:5432/postgres
Done.
Done.

[]

## Tables
 - metis.pg_stat_database_history

In [18]:
%%sql 

CREATE TABLE IF NOT EXISTS metis.pg_stat_database_history (
    datid          OID,       -- Database ID
    datname        TEXT,      -- Database name
    numbackends    INTEGER,   -- Number of active connections
    xact_commit    BIGINT,    -- Total number of transactions committed
    xact_rollback  BIGINT,    -- Total number of transactions rolled back
    blks_read      BIGINT,    -- Total number of disk blocks read
    blks_hit       BIGINT,    -- Total number of disk blocks found in shared buffers
    tup_returned   BIGINT,    -- Total number of tuples returned by queries
    tup_fetched    BIGINT,    -- Total number of tuples fetched by queries
    tup_inserted   BIGINT,    -- Total number of tuples inserted
    tup_updated    BIGINT,    -- Total number of tuples updated
    tup_deleted    BIGINT,    -- Total number of tuples deleted
    conflicts      BIGINT,    -- Number of query conflicts
    temp_files     BIGINT,    -- Number of temporary files created
    temp_bytes     BIGINT,    -- Total size of temporary files
    deadlocks      BIGINT,    -- Total number of deadlocks detected
    blk_read_time  DOUBLE PRECISION, -- Time spent reading blocks (in milliseconds)
    blk_write_time DOUBLE PRECISION, -- Time spent writing blocks (in milliseconds)
    stats_reset    TIMESTAMP, -- Timestamp of the last statistics reset
    time           TIMESTAMP DEFAULT CURRENT_TIMESTAMP -- Timestamp of data insertion
);

 * postgresql://postgres:***@org-metis-inst-dev1.data-1.use1.tembo.io:5432/metis
   postgresql://postgres:***@org-metis-inst-dev1.data-1.use1.tembo.io:5432/postgres
Done.

[]

In [ ]:
%%sql

CREATE TABLE pg_stat_user_tables_history_v15 (
    datid OID,             -- Database object identifier
    datname VARCHAR(64),   -- Name of the database
    time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,        -- Time when data was recorded
    relid OID,             -- Object identifier for the table
    schemaname VARCHAR(64), -- Name of the schema
    relname VARCHAR(128),  -- Name of the table
    seq_scan BIGINT,       -- Sequential scan count
    seq_tup_read BIGINT,   -- Tuples read by sequential scans
    idx_scan BIGINT,       -- Index scan count
    idx_tup_fetch BIGINT,  -- Tuples fetched by index scans
    n_tup_ins BIGINT,      -- Number of inserted tuples
    n_tup_upd BIGINT,      -- Number of updated tuples
    n_tup_del BIGINT,      -- Number of deleted tuples
    n_tup_hot_upd BIGINT,  -- Number of HOT-updated tuples
    n_live_tup BIGINT,     -- Estimated number of live tuples
    n_dead_tup BIGINT,     -- Estimated number of dead tuples
    last_vacuum TIMESTAMP, -- Last manual vacuum timestamp
    last_autovacuum TIMESTAMP, -- Last autovacuum timestamp
    last_analyze TIMESTAMP, -- Last manual analyze timestamp
    last_autoanalyze TIMESTAMP, -- Last autoanalyze timestamp
    heap_blks_read BIGINT,  -- Blocks read from heap
    heap_blks_hit BIGINT,   -- Blocks hit in heap
    idx_blks_read BIGINT,   -- Blocks read from index
    idx_blks_hit BIGINT,    -- Blocks hit in index
    toast_blks_read BIGINT, -- Blocks read from TOAST table
    toast_blks_hit BIGINT,  -- Blocks hit in TOAST table
    tidx_blks_read BIGINT,  -- Blocks read from TOAST index
    tidx_blks_hit BIGINT    -- Blocks hit in TOAST index
);

In [19]:
%%sql 

CREATE OR REPLACE FUNCTION metis.insert_pg_stat_database_history() 
RETURNS VOID AS $$
BEGIN
    -- Insert the current data from pg_stat_database into metis.pg_stat_database_history
    INSERT INTO metis.pg_stat_database_history (
        datid,
        datname,
        numbackends,
        xact_commit,
        xact_rollback,
        blks_read,
        blks_hit,
        tup_returned,
        tup_fetched,
        tup_inserted,
        tup_updated,
        tup_deleted,
        conflicts,
        temp_files,
        temp_bytes,
        deadlocks,
        blk_read_time,
        blk_write_time,
        stats_reset,
        time  -- Default value of CURRENT_TIMESTAMP
    )
    SELECT 
        datid,
        datname,
        numbackends,
        xact_commit,
        xact_rollback,
        blks_read,
        blks_hit,
        tup_returned,
        tup_fetched,
        tup_inserted,
        tup_updated,
        tup_deleted,
        conflicts,
        temp_files,
        temp_bytes,
        deadlocks,
        blk_read_time,
        blk_write_time,
        stats_reset,
        CURRENT_TIMESTAMP  -- Insert timestamp
    FROM pg_stat_database
    WHERE datname NOT IN ('template1', 'template0')
		AND datname IS NOT NULL;
END;
$$ LANGUAGE plpgsql;

 * postgresql://postgres:***@org-metis-inst-dev1.data-1.use1.tembo.io:5432/metis
   postgresql://postgres:***@org-metis-inst-dev1.data-1.use1.tembo.io:5432/postgres
Done.

[]

## Change the connection to use the DB where pg_cron installed

# Create the cron job   
NOTICE - Run the following commands on the DB with the ```cron``` schema. 
Remember that the extension ```pg_cron``` can be installed on ONE and only one DB. It can call any other DB.   

Since we assume the cron extension might be in another database (for ex. the DB "postgres") we'll use a function to run the function on another DB 
```sql SELECT cron.schedule_in_database('wjob-name', 'cron_expression', 'sql_cmd', 'some_other_database');```

In [ ]:
## Since we assume the cron extension might be in another database (for ex. the DB "postgres") we'll use a function to 
##  run the function on another DB 

SELECT cron.schedule_in_database('insert_pg_stat_database_history',
	'* * * * *', 
	'SELECT metis.insert_pg_stat_database_history();', 
	'metis_1');

In [ ]:
## View job history. If everything is OK then the status should be "succedded"
cmd_view_job_history = """
SELECT * 
FROM cron.job_run_details jrd 
WHERE jrd.jobid  = (SELECT jobid FROM cron.job WHERE jobname = 'insert_pg_stat_database_history')
"""

## view DB Activity
Go back the Metis DB

## Go back the Metis DB

In [23]:
%%sql 
   
WITH max_values_per_10min AS (
    -- Group by 10-minute intervals and find the maximum values for each group
    SELECT
        date_bin('5 minutes', time, date_trunc('hour', time)) AS rounded_time,
        datname,
        MAX(xact_commit) AS max_xact_commit,
        MAX(xact_rollback) AS max_xact_rollback,
        MAX(blks_read) AS max_blks_read,
        MAX(blks_hit) AS max_blks_hit,
        MAX(tup_returned) AS max_tup_returned,
        MAX(tup_fetched) AS max_tup_fetched,
        MAX(tup_inserted) AS max_tup_inserted,
        MAX(tup_updated) AS max_tup_updated,
        MAX(tup_deleted) AS max_tup_deleted,
        MAX(conflicts) AS max_conflicts,
        MAX(temp_files) AS max_temp_files,
        MAX(temp_bytes) AS max_temp_bytes,
        MAX(deadlocks) AS max_deadlocks,
        MAX(blk_read_time) AS max_blk_read_time,
        MAX(blk_write_time) AS max_blk_write_time
    FROM
        metis.pg_stat_database_history
    GROUP BY
        rounded_time,
        datname
)

SELECT
    rounded_time,
    datname,
    max_xact_commit - LAG(max_xact_commit) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_xact_commit,
    max_xact_rollback - LAG(max_xact_rollback) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_xact_rollback,
    max_blks_read - LAG(max_blks_read) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_blks_read,
    max_blks_hit - LAG(max_blks_hit) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_blks_hit,
    max_tup_returned - LAG(max_tup_returned) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_tup_returned,
    max_tup_fetched - LAG(max_tup_fetched) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_tup_fetched,
    max_tup_inserted - LAG(max_tup_inserted) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_tup_inserted,
    max_tup_updated - LAG(max_tup_updated) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_tup_updated,
    max_tup_deleted - LAG(max_tup_deleted) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_tup_deleted,
    max_conflicts - LAG(max_conflicts) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_conflicts,
    max_temp_files - LAG(max_temp_files) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_temp_files,
    max_temp_bytes - LAG(max_temp_bytes) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_temp_bytes,
    max_deadlocks - LAG(max_deadlocks) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_deadlocks,
    max_blk_read_time - LAG(max_blk_read_time) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_blk_read_time,
    max_blk_write_time - LAG(max_blk_write_time) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_blk_write_time
FROM
    max_values_per_10min
ORDER BY
    datname,
    rounded_time desc;

   postgresql://postgres:***@org-metis-inst-dev1.data-1.use1.tembo.io:5432/metis
 * postgresql://postgres:***@org-metis-inst-dev1.data-1.use1.tembo.io:5432/metis_1
   postgresql://postgres:***@org-metis-inst-dev1.data-1.use1.tembo.io:5432/postgres
126 rows affected.

[(datetime.datetime(2024, 4, 26, 20, 55, tzinfo=datetime.timezone.utc), 'app', 361, 0, 0, 59977, 42898, 37137, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 50, tzinfo=datetime.timezone.utc), 'app', 603, 0, 0, 100349, 71830, 62223, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 45, tzinfo=datetime.timezone.utc), 'app', 603, 0, 0, 100349, 71830, 62223, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 40, tzinfo=datetime.timezone.utc), 'app', 603, 0, 0, 100349, 71830, 62223, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 35, tzinfo=datetime.timezone.utc), 'app', 603, 0, 0, 100349, 71830, 62223, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 30, tzinfo=datetime.timezone.utc), 'app', 603, 0, 0, 100349, 71830, 62223, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 25, tzinfo=datetime.timezone.utc), 'app', 601, 0, 0, 99768, 71330, 61731, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 20, tzinfo=datetime.timezone.utc), 'app', 601, 0, 0, 99768, 71330, 61731, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 15, tzinfo=datetime.timezone.utc), 'app', 603, 0, 0, 100349, 71830, 62223, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 10, tzinfo=datetime.timezone.utc), 'app', 603, 0, 0, 100349, 71830, 62223, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 5, tzinfo=datetime.timezone.utc), 'app', 616, 0, 0, 105536, 80707, 64852, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 0, tzinfo=datetime.timezone.utc), 'app', 599, 0, 0, 99187, 70830, 61239, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 55, tzinfo=datetime.timezone.utc), 'app', 605, 0, 0, 100930, 72330, 62715, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 50, tzinfo=datetime.timezone.utc), 'app', 601, 0, 0, 99768, 71330, 61731, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 45, tzinfo=datetime.timezone.utc), 'app', 603, 0, 0, 100349, 71830, 62223, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 40, tzinfo=datetime.timezone.utc), 'app', 603, 0, 0, 100349, 71830, 62223, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 35, tzinfo=datetime.timezone.utc), 'app', 603, 0, 0, 100349, 71830, 62223, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 30, tzinfo=datetime.timezone.utc), 'app', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (datetime.datetime(2024, 4, 26, 20, 55, tzinfo=datetime.timezone.utc), 'db_10', 57, 0, 4, 26816, 882767, 8753, 300, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 50, tzinfo=datetime.timezone.utc), 'db_10', 95, 0, 6, 39315, 893189, 14795, 500, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 45, tzinfo=datetime.timezone.utc), 'db_10', 95, 0, 7, 39316, 892689, 14795, 500, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 40, tzinfo=datetime.timezone.utc), 'db_10', 95, 0, 5, 39304, 892189, 14795, 500, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 35, tzinfo=datetime.timezone.utc), 'db_10', 95, 0, 6, 39299, 891689, 14795, 500, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 30, tzinfo=datetime.timezone.utc), 'db_10', 95, 0, 7, 39302, 891189, 14795, 500, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 25, tzinfo=datetime.timezone.utc), 'db_10', 93, 0, 6, 38710, 890189, 14303, 500, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 20, tzinfo=datetime.timezone.utc), 'db_10', 93, 0, 6, 38705, 889689, 14303, 500, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 15, tzinfo=datetime.timezone.utc), 'db_10', 95, 0, 6, 39285, 889689, 14795, 500, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 10, tzinfo=datetime.timezone.utc), 'db_10', 95, 0, 6, 39277, 889189, 14795, 500, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 5, tzinfo=datetime.timezone.utc), 'db_10', 108, 0, 7, 44700, 897834, 17494, 500, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 0, tzinfo=datetime.timezone.utc), 'db_10', 91, 0, 6, 38105, 887189, 13811, 500, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 55, tzinfo=datetime.timezone.utc), 'db_10', 97, 0, 6, 39843, 888189, 15287, 500, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 50, tzinfo=datetime.timezone.utc), 'db_10', 93, 0, 7, 38682, 886689, 14303, 500, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 45, tzinfo=datetime.timezone.utc), 'db_10', 95, 0, 5, 39251, 886689, 14795, 500, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 40, tzinfo=datetime.timezone.utc), 'db_10', 95, 0, 6, 39248, 886189, 14795, 500, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 35, tzinfo=datetime.timezone.utc), 'db_10', 95, 0, 7, 39249, 885689, 14795, 500, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 30, tzinfo=datetime.timezone.utc), 'db_10', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (datetime.datetime(2024, 4, 26, 20, 55, tzinfo=datetime.timezone.utc), 'demo', 61, 0, 0, 20896, 22737, 10613, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 50, tzinfo=datetime.timezone.utc), 'demo', 103, 0, 0, 35216, 38237, 18017, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 45, tzinfo=datetime.timezone.utc), 'demo', 103, 0, 0, 35216, 38237, 18017, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 40, tzinfo=datetime.timezone.utc), 'demo', 103, 0, 0, 35216, 38237, 18017, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 35, tzinfo=datetime.timezone.utc), 'demo', 103, 0, 0, 35216, 38237, 18017, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 30, tzinfo=datetime.timezone.utc), 'demo', 103, 0, 0, 35216, 38237, 18017, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 25, tzinfo=datetime.timezone.utc), 'demo', 101, 0, 0, 34632, 37724, 17524, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 20, tzinfo=datetime.timezone.utc), 'demo', 101, 0, 0, 34632, 37724, 17524, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 15, tzinfo=datetime.timezone.utc), 'demo', 103, 0, 0, 35216, 38237, 18017, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 10, tzinfo=datetime.timezone.utc), 'demo', 103, 0, 0, 35216, 38237, 18017, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 5, tzinfo=datetime.timezone.utc), 'demo', 116, 0, 0, 42691, 52276, 21419, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 0, tzinfo=datetime.timezone.utc), 'demo', 99, 0, 0, 34048, 37211, 17031, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 55, tzinfo=datetime.timezone.utc), 'demo', 143, 0, 131, 37930, 117268, 19211, 0, 0, 0, 0, 0, 0, 0, 8.79099999999994, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 50, tzinfo=datetime.timezone.utc), 'demo', 190, 0, 0, 34722, 40724, 17524, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 45, tzinfo=datetime.timezone.utc), 'demo', 151, 0, 6, 37301, 43537, 19372, 0, 0, 0, 0, 0, 0, 0, 2.4429999999999836, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 40, tzinfo=datetime.timezone.utc), 'demo', 103, 0, 0, 35216, 38237, 18017, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 35, tzinfo=datetime.timezone.utc), 'demo', 103, 0, 0, 35216, 38237, 18017, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 30, tzinfo=datetime.timezone.utc), 'demo', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (datetime.datetime(2024, 4, 26, 20, 55, tzinfo=datetime.timezone.utc), 'metis', 55, 0, 5, 16409, 15507, 8251, 3, 0, 0, 0, 0, 0, 0, 1.794999999999959, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 50, tzinfo=datetime.timezone.utc), 'metis', 96, 5, 37, 27535, 23026, 13637, 52, 2, 0, 0, 0, 0, 0, 16.66700000000003, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 45, tzinfo=datetime.timezone.utc), 'metis', 83, 0, 0, 26369, 22450, 13063, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 40, tzinfo=datetime.timezone.utc), 'metis', 83, 0, 0, 26369, 22450, 13063, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 35, tzinfo=datetime.timezone.utc), 'metis', 83, 0, 0, 26369, 22450, 13063, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 30, tzinfo=datetime.timezone.utc), 'metis', 83, 0, 0, 26369, 22450, 13063, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 25, tzinfo=datetime.timezone.utc), 'metis', 81, 0, 0, 25788, 21950, 12571, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 20, tzinfo=datetime.timezone.utc), 'metis', 81, 0, 0, 25788, 21950, 12571, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 15, tzinfo=datetime.timezone.utc), 'metis', 83, 0, 0, 26369, 22450, 13063, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 10, tzinfo=datetime.timezone.utc), 'metis', 83, 0, 0, 26369, 22450, 13063, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 5, tzinfo=datetime.timezone.utc), 'metis', 96, 0, 0, 31547, 31324, 15688, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 0, tzinfo=datetime.timezone.utc), 'metis', 79, 0, 0, 25207, 21450, 12079, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 55, tzinfo=datetime.timezone.utc), 'metis', 85, 0, 0, 26950, 22950, 13555, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 50, tzinfo=datetime.timezone.utc), 'metis', 81, 0, 0, 25788, 21950, 12571, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 45, tzinfo=datetime.timezone.utc), 'metis', 83, 0, 0, 26369, 22450, 13063, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 40, tzinfo=datetime.timezone.utc), 'metis', 83, 0, 0, 26369, 22450, 13063, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 35, tzinfo=datetime.timezone.utc), 'metis', 83, 0, 0, 26369, 22450, 13063, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 30, tzinfo=datetime.timezone.utc), 'metis', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (datetime.datetime(2024, 4, 26, 20, 55, tzinfo=datetime.timezone.utc), 'metis_1', 60, 0, 0, 17950, 17027, 9168, 21, 20, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 50, tzinfo=datetime.timezone.utc), 'metis_1', 96, 0, 1, 29113, 27439, 14764, 35, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 45, tzinfo=datetime.timezone.utc), 'metis_1', 95, 0, 1, 29704, 27322, 15213, 35, 20, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 40, tzinfo=datetime.timezone.utc), 'metis_1', 93, 0, 1, 29031, 26830, 14723, 35, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 35, tzinfo=datetime.timezone.utc), 'metis_1', 93, 0, 1, 29031, 26830, 14723, 35, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 30, tzinfo=datetime.timezone.utc), 'metis_1', 95, 0, 0, 29698, 27321, 15213, 35, 20, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 25, tzinfo=datetime.timezone.utc), 'metis_1', 91, 0, 1, 28450, 26330, 14231, 35, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 20, tzinfo=datetime.timezone.utc), 'metis_1', 93, 0, 1, 29112, 26822, 14721, 35, 20, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 15, tzinfo=datetime.timezone.utc), 'metis_1', 93, 0, 1, 29031, 26830, 14723, 35, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 10, tzinfo=datetime.timezone.utc), 'metis_1', 108, 0, 1, 35088, 36464, 17920, 35, 20, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 5, tzinfo=datetime.timezone.utc), 'metis_1', 95, 0, 0, 29694, 27321, 15213, 35, 20, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 0, tzinfo=datetime.timezone.utc), 'metis_1', 92, 0, 1, 27874, 26047, 13739, 35, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 55, tzinfo=datetime.timezone.utc), 'metis_1', 108, 0, 1, 30388, 27708, 15752, 35, 20, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 50, tzinfo=datetime.timezone.utc), 'metis_1', 106, 0, 1, 28499, 27025, 14258, 35, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 45, tzinfo=datetime.timezone.utc), 'metis_1', 108, 0, 1, 29743, 27727, 15213, 35, 20, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 40, tzinfo=datetime.timezone.utc), 'metis_1', 101, 0, 0, 29799, 27531, 15269, 55, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 35, tzinfo=datetime.timezone.utc), 'metis_1', 93, 0, 3, 29024, 26830, 14723, 35, 0, 0, 0, 0, 0, 0, 0.018, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 30, tzinfo=datetime.timezone.utc), 'metis_1', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (datetime.datetime(2024, 4, 26, 20, 55, tzinfo=datetime.timezone.utc), 'metis_ts_dev', 49, 0, 0, 55185, 42852, 26837, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 50, tzinfo=datetime.timezone.utc), 'metis_ts_dev', 83, 0, 0, 92635, 71914, 45211, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 45, tzinfo=datetime.timezone.utc), 'metis_ts_dev', 83, 0, 0, 92635, 71914, 45211, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 40, tzinfo=datetime.timezone.utc), 'metis_ts_dev', 83, 0, 0, 92635, 71914, 45211, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 35, tzinfo=datetime.timezone.utc), 'metis_ts_dev', 83, 0, 0, 92635, 71914, 45211, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 30, tzinfo=datetime.timezone.utc), 'metis_ts_dev', 83, 0, 0, 92635, 71914, 45211, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 25, tzinfo=datetime.timezone.utc), 'metis_ts_dev', 81, 0, 0, 91645, 71173, 44487, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 20, tzinfo=datetime.timezone.utc), 'metis_ts_dev', 81, 0, 0, 91645, 71173, 44487, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 15, tzinfo=datetime.timezone.utc), 'metis_ts_dev', 83, 0, 0, 92635, 71914, 45211, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 10, tzinfo=datetime.timezone.utc), 'metis_ts_dev', 96, 0, 0, 111365, 101767, 53324, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 5, tzinfo=datetime.timezone.utc), 'metis_ts_dev', 83, 0, 0, 92635, 71914, 45211, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 0, tzinfo=datetime.timezone.utc), 'metis_ts_dev', 79, 0, 0, 90655, 70432, 43763, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 55, tzinfo=datetime.timezone.utc), 'metis_ts_dev', 85, 0, 0, 93625, 72655, 45935, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 50, tzinfo=datetime.timezone.utc), 'metis_ts_dev', 81, 0, 0, 91645, 71173, 44487, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 45, tzinfo=datetime.timezone.utc), 'metis_ts_dev', 83, 0, 0, 92635, 71914, 45211, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 40, tzinfo=datetime.timezone.utc), 'metis_ts_dev', 83, 0, 0, 92635, 71914, 45211, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 35, tzinfo=datetime.timezone.utc), 'metis_ts_dev', 83, 0, 0, 92635, 71914, 45211, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 30, tzinfo=datetime.timezone.utc), 'metis_ts_dev', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (datetime.datetime(2024, 4, 26, 20, 55, tzinfo=datetime.timezone.utc), 'postgres', 314, 3, 0, 85957, 354991, 42823, 9, 2, 6, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 50, tzinfo=datetime.timezone.utc), 'postgres', 532, 5, 1, 143591, 492763, 72437, 17, 4, 12, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 45, tzinfo=datetime.timezone.utc), 'postgres', 518, 5, 0, 144135, 690639, 70322, 17, 4, 10, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 40, tzinfo=datetime.timezone.utc), 'postgres', 527, 5, 3, 142999, 596769, 70598, 68, 6, 12, 0, 0, 0, 0, 1.897000000000844, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 35, tzinfo=datetime.timezone.utc), 'postgres', 536, 7, 0, 143543, 492652, 72261, 17, 4, 12, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 30, tzinfo=datetime.timezone.utc), 'postgres', 536, 5, 1, 146659, 593458, 72645, 17, 5, 12, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 25, tzinfo=datetime.timezone.utc), 'postgres', 517, 5, 0, 142463, 590995, 70241, 17, 4, 12, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 20, tzinfo=datetime.timezone.utc), 'postgres', 485, 5, 0, 135193, 685907, 65515, 11, 2, 6, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 15, tzinfo=datetime.timezone.utc), 'postgres', 535, 8, 0, 147093, 593777, 73003, 17, 4, 12, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 10, tzinfo=datetime.timezone.utc), 'postgres', 547, 5, 0, 163354, 619661, 79637, 17, 4, 14, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 5, tzinfo=datetime.timezone.utc), 'postgres', 525, 5, 0, 144241, 591916, 71188, 17, 4, 12, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 20, 0, tzinfo=datetime.timezone.utc), 'postgres', 472, 5, 1, 128953, 484153, 63686, 14, 3, 8, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 55, tzinfo=datetime.timezone.utc), 'postgres', 577, 5, 0, 157204, 599698, 78793, 20, 5, 16, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 50, tzinfo=datetime.timezone.utc), 'postgres', 485, 5, 0, 135145, 685859, 65515, 11, 2, 6, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 45, tzinfo=datetime.timezone.utc), 'postgres', 516, 5, 0, 141812, 590460, 69800, 17, 4, 12, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 40, tzinfo=datetime.timezone.utc), 'postgres', 516, 5, 0, 139703, 490352, 69706, 17, 11, 12, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 35, tzinfo=datetime.timezone.utc), 'postgres', 536, 5, 0, 148682, 693534, 72888, 17, 4, 12, 0, 0, 0, 0, 0.0, 0.0),
 (datetime.datetime(2024, 4, 26, 19, 30, tzinfo=datetime.timezone.utc), 'postgres', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)]

In [42]:

import pandas as pd

qry = """ 
WITH max_values_per_10min AS (
    SELECT
        date_bin('15 minutes', time, date_trunc('hour', time)) AS rounded_time,
        datname,
        MAX(xact_commit) AS max_xact_commit,
        MAX(xact_rollback) AS max_xact_rollback,
        MAX(blks_read) AS max_blks_read,
        MAX(blks_hit) AS max_blks_hit,
        MAX(tup_returned) AS max_tup_returned,
        MAX(tup_fetched) AS max_tup_fetched,
        MAX(tup_inserted) AS max_tup_inserted,
        MAX(tup_updated) AS max_tup_updated,
        MAX(tup_deleted) AS max_tup_deleted,
        MAX(conflicts) AS max_conflicts,
        MAX(temp_files) AS max_temp_files,
        MAX(temp_bytes) AS max_temp_bytes,
        MAX(deadlocks) AS max_deadlocks,
        MAX(blk_read_time) AS max_blk_read_time,
        MAX(blk_write_time) AS max_blk_write_time
    FROM
        metis.pg_stat_database_history
    WHERE datname = 'demo'
    GROUP BY
        rounded_time,
        datname
)

SELECT
    rounded_time,
    datname,
    max_xact_commit - LAG(max_xact_commit) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_xact_commit,
    max_xact_rollback - LAG(max_xact_rollback) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_xact_rollback,
    max_blks_read - LAG(max_blks_read) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_blks_read,
    max_blks_hit - LAG(max_blks_hit) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_blks_hit,
    max_tup_returned - LAG(max_tup_returned) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_tup_returned,
    max_tup_fetched - LAG(max_tup_fetched) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_tup_fetched,
    max_tup_inserted - LAG(max_tup_inserted) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_tup_inserted,
    max_tup_updated - LAG(max_tup_updated) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_tup_updated,
    max_tup_deleted - LAG(max_tup_deleted) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_tup_deleted,
    max_conflicts - LAG(max_conflicts) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_conflicts,
    max_temp_files - LAG(max_temp_files) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_temp_files,
    max_temp_bytes - LAG(max_temp_bytes) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_temp_bytes,
    max_deadlocks - LAG(max_deadlocks) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_deadlocks,
    max_blk_read_time - LAG(max_blk_read_time) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_blk_read_time,
    max_blk_write_time - LAG(max_blk_write_time) OVER (PARTITION BY datname ORDER BY rounded_time) AS diff_blk_write_time
FROM
    max_values_per_10min
    
ORDER BY
    datname,
    rounded_time desc;
"""

results = %sql {qry}
print (type(results))
df = results.DataFrame()

# Display the first few rows to verify
df.head(100)

   postgresql://postgres:***@org-metis-inst-dev1.data-1.use1.tembo.io:5432/metis
 * postgresql://postgres:***@org-metis-inst-dev1.data-1.use1.tembo.io:5432/metis_1
   postgresql://postgres:***@org-metis-inst-dev1.data-1.use1.tembo.io:5432/postgres
105 rows affected.
<class 'sql.run.ResultSet'>
                 rounded_time datname  diff_xact_commit  diff_xact_rollback  \
0   2024-04-27 21:30:00+00:00    demo             122.0                 0.0
1   2024-04-27 21:15:00+00:00    demo             309.0                 0.0
2   2024-04-27 21:00:00+00:00    demo             275.0                 0.0
3   2024-04-27 20:45:00+00:00    demo             234.0                 0.0
4   2024-04-27 20:30:00+00:00    demo             235.0                 0.0
..                        ...     ...               ...                 ...
100 2024-04-26 20:30:00+00:00    demo             309.0                 0.0
101 2024-04-26 20:15:00+00:00    demo             305.0                 0.0
102 2024-04-26 20:00:00+00:00    demo             318.0                 0.0
103 2024-04-26 19:45:00+00:00    demo             484.0                 0.0
104 2024-04-26 19:30:00+00:00    demo               NaN                 NaN

     diff_blks_read  diff_blks_hit  diff_tup_returned  diff_tup_fetched  \
0               0.0        41792.0            45474.0           21226.0
1               0.0       105648.0           114711.0           54051.0
2               0.0        76400.0            90531.0           40051.0
3               0.0        35448.0            56826.0           21516.0
4               0.0        35479.0            56841.0           21530.0
..              ...            ...                ...               ...
100             0.0       105648.0           114711.0           54051.0
101             0.0       104480.0           113685.0           53065.0
102             0.0       111955.0           127724.0           56467.0
103           137.0       109953.0           201529.0           56107.0
104             NaN            NaN                NaN               NaN

     diff_tup_inserted  diff_tup_updated  diff_tup_deleted  diff_conflicts  \
0                  0.0               0.0               0.0             0.0
1                  0.0               0.0               0.0             0.0
2                  0.0               0.0               0.0             0.0
3                  0.0               0.0               0.0             0.0
4                  0.0               0.0               0.0             0.0
..                 ...               ...               ...             ...
100                0.0               0.0               0.0             0.0
101                0.0               0.0               0.0             0.0
102                0.0               0.0               0.0             0.0
103                0.0               0.0               0.0             0.0
104                NaN               NaN               NaN             NaN

     diff_temp_files  diff_temp_bytes  diff_deadlocks  diff_blk_read_time  \
0                0.0              0.0             0.0               0.000
1                0.0              0.0             0.0               0.000
2                0.0              0.0             0.0               0.000
3                0.0              0.0             0.0               0.000
4                0.0              0.0             0.0               0.000
..               ...              ...             ...                 ...
100              0.0              0.0             0.0               0.000
101              0.0              0.0             0.0               0.000
102              0.0              0.0             0.0               0.000
103              0.0              0.0             0.0              11.234
104              NaN              NaN             NaN                 NaN

     diff_blk_write_time
0                    0.0
1                    0.0
2                    0.0
3                    0.0
4                    0.0
..                   ...
100                  0.0
101                  0.0
102                  0.0
103                  0.0
104                  NaN

[105 rows x 17 columns]

In [45]:
db_name='demo'
%sql SELECT * from pg_stat_database where datname = :db_name;

   postgresql://postgres:***@org-metis-inst-dev1.data-1.use1.tembo.io:5432/metis
 * postgresql://postgres:***@org-metis-inst-dev1.data-1.use1.tembo.io:5432/metis_1
   postgresql://postgres:***@org-metis-inst-dev1.data-1.use1.tembo.io:5432/postgres
1 rows affected.

[(16556, 'demo', 0, 26367, 0, 279, 4428137, 6691608, 2602258, 0, 0, 0, 0, 0, 0, 0, None, None, 212.193, 0.0, 10514935.23, 79424.732, 41661.002, 8033, 6, 0, 0, None)]

# Install on the source DB

In [ ]:
CREATE EXTENSION IF NOT EXISTS dblink;

### metis.v_pg_stat_database_history

In [ ]:
-- metis.v_pg_stat_database_history 

CREATE OR REPLACE VIEW metis.v_pg_stat_database_history
AS SELECT t1.rounded_time,
    t1.datname,
    t1.diff_xact_commit,
    t1.diff_xact_rollback,
    t1.diff_blks_read,
    t1.diff_blks_hit,
    t1.diff_tup_returned,
    t1.diff_tup_fetched,
    t1.diff_tup_inserted,
    t1.diff_tup_updated,
    t1.diff_tup_deleted,
    t1.diff_conflicts,
    t1.diff_temp_files,
    t1.diff_temp_bytes,
    t1.diff_deadlocks,
    t1.diff_blk_read_time,
    t1.diff_blk_write_time
   FROM ( WITH max_values_per_10min AS (
                 SELECT date_bin('00:10:00'::interval, pg_stat_database_history."time", date_trunc('hour'::text, pg_stat_database_history."time")) AS rounded_time,
                    pg_stat_database_history.datname,
                    max(pg_stat_database_history.xact_commit) AS max_xact_commit,
                    max(pg_stat_database_history.xact_rollback) AS max_xact_rollback,
                    max(pg_stat_database_history.blks_read) AS max_blks_read,
                    max(pg_stat_database_history.blks_hit) AS max_blks_hit,
                    max(pg_stat_database_history.tup_returned) AS max_tup_returned,
                    max(pg_stat_database_history.tup_fetched) AS max_tup_fetched,
                    max(pg_stat_database_history.tup_inserted) AS max_tup_inserted,
                    max(pg_stat_database_history.tup_updated) AS max_tup_updated,
                    max(pg_stat_database_history.tup_deleted) AS max_tup_deleted,
                    max(pg_stat_database_history.conflicts) AS max_conflicts,
                    max(pg_stat_database_history.temp_files) AS max_temp_files,
                    max(pg_stat_database_history.temp_bytes) AS max_temp_bytes,
                    max(pg_stat_database_history.deadlocks) AS max_deadlocks,
                    max(pg_stat_database_history.blk_read_time) AS max_blk_read_time,
                    max(pg_stat_database_history.blk_write_time) AS max_blk_write_time
                   FROM metis.pg_stat_database_history
                  GROUP BY (date_bin('00:10:00'::interval, pg_stat_database_history."time", date_trunc('hour'::text, pg_stat_database_history."time"))), pg_stat_database_history.datname
                )
         SELECT max_values_per_10min.rounded_time,
            max_values_per_10min.datname,
            max_values_per_10min.max_xact_commit - lag(max_values_per_10min.max_xact_commit) OVER (PARTITION BY max_values_per_10min.datname ORDER BY max_values_per_10min.rounded_time) AS diff_xact_commit,
            max_values_per_10min.max_xact_rollback - lag(max_values_per_10min.max_xact_rollback) OVER (PARTITION BY max_values_per_10min.datname ORDER BY max_values_per_10min.rounded_time) AS diff_xact_rollback,
            max_values_per_10min.max_blks_read - lag(max_values_per_10min.max_blks_read) OVER (PARTITION BY max_values_per_10min.datname ORDER BY max_values_per_10min.rounded_time) AS diff_blks_read,
            max_values_per_10min.max_blks_hit - lag(max_values_per_10min.max_blks_hit) OVER (PARTITION BY max_values_per_10min.datname ORDER BY max_values_per_10min.rounded_time) AS diff_blks_hit,
            max_values_per_10min.max_tup_returned - lag(max_values_per_10min.max_tup_returned) OVER (PARTITION BY max_values_per_10min.datname ORDER BY max_values_per_10min.rounded_time) AS diff_tup_returned,
            max_values_per_10min.max_tup_fetched - lag(max_values_per_10min.max_tup_fetched) OVER (PARTITION BY max_values_per_10min.datname ORDER BY max_values_per_10min.rounded_time) AS diff_tup_fetched,
            max_values_per_10min.max_tup_inserted - lag(max_values_per_10min.max_tup_inserted) OVER (PARTITION BY max_values_per_10min.datname ORDER BY max_values_per_10min.rounded_time) AS diff_tup_inserted,
            max_values_per_10min.max_tup_updated - lag(max_values_per_10min.max_tup_updated) OVER (PARTITION BY max_values_per_10min.datname ORDER BY max_values_per_10min.rounded_time) AS diff_tup_updated,
            max_values_per_10min.max_tup_deleted - lag(max_values_per_10min.max_tup_deleted) OVER (PARTITION BY max_values_per_10min.datname ORDER BY max_values_per_10min.rounded_time) AS diff_tup_deleted,
            max_values_per_10min.max_conflicts - lag(max_values_per_10min.max_conflicts) OVER (PARTITION BY max_values_per_10min.datname ORDER BY max_values_per_10min.rounded_time) AS diff_conflicts,
            max_values_per_10min.max_temp_files - lag(max_values_per_10min.max_temp_files) OVER (PARTITION BY max_values_per_10min.datname ORDER BY max_values_per_10min.rounded_time) AS diff_temp_files,
            max_values_per_10min.max_temp_bytes - lag(max_values_per_10min.max_temp_bytes) OVER (PARTITION BY max_values_per_10min.datname ORDER BY max_values_per_10min.rounded_time) AS diff_temp_bytes,
            max_values_per_10min.max_deadlocks - lag(max_values_per_10min.max_deadlocks) OVER (PARTITION BY max_values_per_10min.datname ORDER BY max_values_per_10min.rounded_time) AS diff_deadlocks,
            max_values_per_10min.max_blk_read_time - lag(max_values_per_10min.max_blk_read_time) OVER (PARTITION BY max_values_per_10min.datname ORDER BY max_values_per_10min.rounded_time) AS diff_blk_read_time,
            max_values_per_10min.max_blk_write_time - lag(max_values_per_10min.max_blk_write_time) OVER (PARTITION BY max_values_per_10min.datname ORDER BY max_values_per_10min.rounded_time) AS diff_blk_write_time
           FROM max_values_per_10min
          ORDER BY max_values_per_10min.datname, max_values_per_10min.rounded_time DESC) t1;