## Parquet Files
Parquet is a columnar storage file format designed for efficient processing and storage in big data environments. It stores data column-wise, allowing for better compression and performance. Key features include support for various compression algorithms, schema evolution, cross-language compatibility, and optimized performance with big data processing frameworks like Apache Spark and Apache Hive. Parquet is commonly used in data lakes and warehouses due to its efficiency and flexibility.

In [41]:
import pandas as pd
import random
from datetime import datetime, timedelta

# Function to generate random data with constant host name, database, and timestamp
def generate_batch_data(batch_size, batch_number, base_insert_date):
    data = {
        'host_name': ['host_1'] * batch_size,
        'db_name': ['db_1'] * batch_size,
        'table_name': [f'tbl_{i + 1}' for i in range(batch_size)],
        'rows_read': [random.randint(1, 1000000) for _ in range(batch_size)],
        'rows_inserted': [random.randint(1, 1000) for _ in range(batch_size)],
        'rows_deleted': [random.randint(1, 1000) for _ in range(batch_size)],
        'rows_updated': [random.randint(1, 1000) for _ in range(batch_size)],
        'insert_date': [base_insert_date + timedelta(minutes=5 * batch_number) for _ in range(batch_size)],
    }
    return pd.DataFrame(data)

# Number of batches and batch size
num_batches = 12 * 24 * 14
batch_size = 300

# Base insert date for the first batch
base_insert_date = datetime(2023, 10, 1, 10, 0, 0)

# List to store DataFrames for each batch
dfs = []

# Generate and insert data in batches
for i in range(num_batches):
    df = generate_batch_data(batch_size, i, base_insert_date)
    dfs.append(df)

# Concatenate all batches into a single DataFrame
final_df = pd.concat(dfs, ignore_index=True)

# Print the DataFrame
print("DataFrame:")
print(final_df)

# Save the DataFrame to a Parquet file
parquet_file_path = 'output_data.parquet'
final_df.to_parquet(parquet_file_path, index=False)

print(f"\nDataFrame saved to {parquet_file_path}")

DataFrame:
        host_name db_name table_name  rows_read  rows_inserted  rows_deleted  \
0          host_1    db_1      tbl_1     266903            891           118
1          host_1    db_1      tbl_2     438303            307           478
2          host_1    db_1      tbl_3     448253            117           869
3          host_1    db_1      tbl_4     488629            310           265
4          host_1    db_1      tbl_5     271802            871           150
...           ...     ...        ...        ...            ...           ...
1209595    host_1    db_1    tbl_296     222398            792           327
1209596    host_1    db_1    tbl_297     301202            844           987
1209597    host_1    db_1    tbl_298     543543            939            50
1209598    host_1    db_1    tbl_299     324752            239           559
1209599    host_1    db_1    tbl_300     657417            374           960

         rows_updated         insert_date
0                 629 2023-10-01 10:00:00
1                 557 2023-10-01 10:00:00
2                 747 2023-10-01 10:00:00
3                 271 2023-10-01 10:00:00
4                 452 2023-10-01 10:00:00
...               ...                 ...
1209595           192 2023-10-15 09:55:00
1209596           771 2023-10-15 09:55:00
1209597           623 2023-10-15 09:55:00
1209598           177 2023-10-15 09:55:00
1209599            39 2023-10-15 09:55:00

[1209600 rows x 8 columns]

DataFrame saved to output_data.parquet

In [42]:
# Print the size of the DataFrame
dataframe_size_mb = final_df.memory_usage(index=False, deep=True).sum() / (1024 * 1024)
print(f"Size of DataFrame: {dataframe_size_mb:.2f} MB")

# Print the size of the Parquet file
parquet_size_mb = os.path.getsize(parquet_file_path) / (1024 * 1024)
print(f"Size of Parquet File on OS: {parquet_size_mb:.2f} MB")

# Print the difference between the two sizes
size_diff = dataframe_size_mb - parquet_size_mb
print(f"Difference (DataFrame - Parquet): {size_diff:.2f} MB")

# Calculate and print the percentage difference
percentage_diff = (size_diff / dataframe_size_mb) * 100
print(f"Percentage Difference (The Parquet as a percentage of the dataframe): {100 - percentage_diff:.2f}%")


print(f"\nDataFrame saved to {parquet_file_path}")

Size of DataFrame: 262.60 MB
Size of Parquet File on OS: 10.42 MB
Difference (DataFrame - Parquet): 252.18 MB
Percentage Difference (The Parquet as a percentage of the dataframe): 3.97%

DataFrame saved to output_data.parquet

pip install pyarrow

In [43]:
import pyarrow.parquet as pq

# Parquet file path
parquet_file_path = 'output_data.parquet'

# Read the Parquet file
parquet_table = pq.read_table(parquet_file_path)

# Get the number of rows
num_rows = parquet_table.num_rows

# Print the number of rows
print(f"The Parquet file has {num_rows} rows.")

The Parquet file has 1209600 rows.

Time series opetations. 
Notice the file of the file (4 measures, history of 14 days, every 5 min ) is less than 4 MB.

In [44]:
import pyarrow.parquet as pq
import pandas as pd
from datetime import datetime

# Parquet file path
parquet_file_path = 'output_data.parquet'

# Read the Parquet file
parquet_table = pq.read_table(parquet_file_path)

# Convert the Parquet table to a DataFrame
df = parquet_table.to_pandas()

# Convert 'insert_date' to datetime type
df['insert_date'] = pd.to_datetime(df['insert_date'])

# Group by hourly time buckets and calculate max and average of 'rows_read'
result_df = df.groupby(pd.Grouper(key='insert_date', freq='H')).agg({
    'rows_read': ['max', 'mean']
}).reset_index()

# Rename columns for clarity
result_df.columns = ['hour', 'max_rows_read', 'avg_rows_read']

# Print the result
print(result_df)

                   hour  max_rows_read  avg_rows_read
0   2023-10-01 10:00:00         999771  506988.653333
1   2023-10-01 11:00:00         999453  502140.496944
2   2023-10-01 12:00:00         999925  503711.897778
3   2023-10-01 13:00:00         999671  494887.029444
4   2023-10-01 14:00:00         999820  508576.183333
..                  ...            ...            ...
331 2023-10-15 05:00:00         999645  494570.926944
332 2023-10-15 06:00:00         999632  495643.292778
333 2023-10-15 07:00:00         999983  502477.309444
334 2023-10-15 08:00:00         999800  494690.482222
335 2023-10-15 09:00:00         999924  500413.425833

[336 rows x 3 columns]

Top 50 tables. By all calls in the last 14 days

In [45]:
import pyarrow.parquet as pq
import pandas as pd

# Parquet file path
parquet_file_path = 'output_data.parquet'

# Read the Parquet file
parquet_table = pq.read_table(parquet_file_path)

# Convert the Parquet table to a DataFrame
df = parquet_table.to_pandas()

# Group by 'table_name' and calculate the total rows read for each table
table_stats = df.groupby('table_name')['rows_read'].sum().reset_index()

# Sort the DataFrame by total rows read in descending order and get the top 50 tables
top_50_tables = table_stats.sort_values(by='rows_read', ascending=False).head(50)

# Print the result
print(top_50_tables)

    table_name   rows_read
153    tbl_237  2057343061
229     tbl_35  2054438536
286     tbl_87  2054421418
224    tbl_300  2054414780
227     tbl_33  2050699314
49     tbl_143  2050192836
68     tbl_160  2049931919
90     tbl_180  2049427568
54     tbl_148  2049276564
61     tbl_154  2048014954
202    tbl_281  2047625479
46     tbl_140  2047230643
136    tbl_221  2047160282
83     tbl_174  2046569141
279     tbl_80  2045802873
88     tbl_179  2045543392
270     tbl_72  2044999540
201    tbl_280  2044513582
166    tbl_249  2043855216
28     tbl_124  2043787561
278      tbl_8  2043016716
167     tbl_25  2042748725
291     tbl_91  2042600033
298     tbl_98  2042143885
175    tbl_257  2040451163
32     tbl_128  2040036556
2      tbl_100  2039972571
268     tbl_70  2039928367
79     tbl_170  2039816724
281     tbl_82  2039458511
97     tbl_187  2039446655
170    tbl_252  2039285054
16     tbl_113  2039213291
271     tbl_73  2039142650
139    tbl_224  2038371555
187    tbl_268  2038340125
253     tbl_57  2038250702
58     tbl_151  2038160684
52     tbl_146  2037480707
96     tbl_186  2036032540
106    tbl_195  2035850274
87     tbl_178  2035599093
75     tbl_167  2035269928
6      tbl_104  2035211148
8      tbl_106  2034964236
162    tbl_245  2034723780
98     tbl_188  2034609202
237     tbl_42  2033636124
134     tbl_22  2033353766
38     tbl_133  2033222179

Now let's collect Table Actitivy of every minute

In [48]:
import pandas as pd
import random
from datetime import datetime, timedelta

# Function to generate random data with constant host name, database, and timestamp
def generate_batch_data(batch_size, batch_number, base_insert_date):
    data = {
        'host_name': ['host_1'] * batch_size,
        'db_name': ['db_1'] * batch_size,
        'table_name': [f'tbl_{i + 1}' for i in range(batch_size)],
        'rows_read': [random.randint(1, 1000000) for _ in range(batch_size)],
        'rows_inserted': [random.randint(1, 1000) for _ in range(batch_size)],
        'rows_deleted': [random.randint(1, 1000) for _ in range(batch_size)],
        'rows_updated': [random.randint(1, 1000) for _ in range(batch_size)],
        'insert_date': [base_insert_date + timedelta(minutes=1 * batch_number) for _ in range(batch_size)],
    }
    return pd.DataFrame(data)

# Number of batches and batch size
num_batches = 60 * 24 * 14
batch_size = 300

# Base insert date for the first batch
base_insert_date = datetime(2023, 10, 1, 10, 0, 0)

# List to store DataFrames for each batch
dfs = []

# Generate and insert data in batches
for i in range(num_batches):
    df = generate_batch_data(batch_size, i, base_insert_date)
    dfs.append(df)

# Concatenate all batches into a single DataFrame
final_df = pd.concat(dfs, ignore_index=True)

# Print the DataFrame
print("DataFrame:")
print(final_df)

# Save the DataFrame to a Parquet file
parquet_file_path = 'output_data_every_1_min.parquet'
final_df.to_parquet(parquet_file_path, index=False)

print(f"\nDataFrame saved to {parquet_file_path}")

DataFrame:
        host_name db_name table_name  rows_read  rows_inserted  rows_deleted  \
0          host_1    db_1      tbl_1     689469            969           626
1          host_1    db_1      tbl_2     466259            564           503
2          host_1    db_1      tbl_3     287934            282           451
3          host_1    db_1      tbl_4     592246            529           862
4          host_1    db_1      tbl_5     437674            378           783
...           ...     ...        ...        ...            ...           ...
6047995    host_1    db_1    tbl_296     836866            341           726
6047996    host_1    db_1    tbl_297     290389            354           198
6047997    host_1    db_1    tbl_298     164222            150           400
6047998    host_1    db_1    tbl_299     386835            611           852
6047999    host_1    db_1    tbl_300     429933            865            48

         rows_updated         insert_date
0                 237 2023-10-01 10:00:00
1                 574 2023-10-01 10:00:00
2                 459 2023-10-01 10:00:00
3                 228 2023-10-01 10:00:00
4                 381 2023-10-01 10:00:00
...               ...                 ...
6047995           594 2023-10-15 09:59:00
6047996           883 2023-10-15 09:59:00
6047997           577 2023-10-15 09:59:00
6047998           766 2023-10-15 09:59:00
6047999           522 2023-10-15 09:59:00

[6048000 rows x 8 columns]

DataFrame saved to output_data_every_1_min.parquet

In [52]:
# Read the Parquet file
parquet_table = pq.read_table(parquet_file_path)

# Get the number of rows
num_rows = parquet_table.num_rows

# Print the number of rows
print(f"The Parquet file has {num_rows} rows.")

dataframe_size_mb = final_df.memory_usage(index=False, deep=True).sum() / (1024 * 1024)
print(f"Size of DataFrame: {dataframe_size_mb:.2f} MB")

# Print the size of the Parquet file
parquet_size_mb = os.path.getsize(parquet_file_path) / (1024 * 1024)
print(f"Size of Parquet File on OS: {parquet_size_mb:.2f} MB")

The Parquet file has 6048000 rows.
Size of DataFrame: 1312.99 MB
Size of Parquet File on OS: 51.00 MB

In [53]:
# Convert the Parquet table to a DataFrame
df = parquet_table.to_pandas()

# Group by 'table_name' and calculate the total rows read for each table
table_stats = df.groupby('table_name')['rows_read'].sum().reset_index()

# Sort the DataFrame by total rows read in descending order and get the top 50 tables
top_50_tables = table_stats.sort_values(by='rows_read', ascending=False).head(50)

# Print the result
print(top_50_tables)

    table_name    rows_read
214    tbl_292  10211198740
128    tbl_214  10205936880
239     tbl_44  10204089631
184    tbl_265  10180037767
127    tbl_213  10167842089
7      tbl_105  10167093018
213    tbl_291  10164856797
89      tbl_18  10164282049
183    tbl_264  10164037767
157    tbl_240  10159929995
164    tbl_247  10159683318
2      tbl_100  10154205927
131    tbl_217  10153732106
295     tbl_95  10149615968
271     tbl_73  10149068780
17     tbl_114  10148302939
134     tbl_22  10148006943
146    tbl_230  10147698301
100     tbl_19  10147022852
159    tbl_242  10146966347
144    tbl_229  10144879760
152    tbl_236  10144260592
186    tbl_267  10141064367
260     tbl_63  10140807594
284     tbl_85  10140282955
21     tbl_118  10140061665
251     tbl_55  10138525559
182    tbl_263  10136552192
96     tbl_186  10135036549
242     tbl_47  10132872987
153    tbl_237  10132229004
249     tbl_53  10132157773
254     tbl_58  10130984045
59     tbl_152  10129561663
138    tbl_223  10129437028
93     tbl_183  10128935023
187    tbl_268  10128882125
130    tbl_216  10128688291
5      tbl_103  10128005767
91     tbl_181  10127840457
106    tbl_195  10127413371
72     tbl_164  10126754126
168    tbl_250  10126562446
217    tbl_295  10125719749
243     tbl_48  10125435701
45      tbl_14  10124894250
28     tbl_124  10123592529
218    tbl_296  10123089706
50     tbl_144  10122446225
19     tbl_116  10122358288

In [5]:
## A file used by Clickhouse Local for demo: ./clickhouse local -q "DESCRIBE s3('https://datasets-documentation.s3.eu-west-3.amazonaws.com/house_parquet/house_0.parquet')"
import pyarrow.parquet as pq
import pandas as pd
from datetime import datetime
# Read the Parquet file
parquet_table = pq.read_table('/Users/itaybraun/Downloads/house_0.parquet')
df_2 = parquet_table.to_pandas()

top_50_rows = df_2.head(50)
print(top_50_rows)

num_rows = df_2.shape[0]
print(f"Number of rows: {num_rows}")

     price   date postcode1 postcode2              type  is_new      duration  \
0    15000   9358       b''       b''  b'semi-detached'       0   b'freehold'
1     9000   9265       b''       b''       b'terraced'       0   b'freehold'
2    56500   9787       b''       b''  b'semi-detached'       0   b'freehold'
3    20000   9930       b''       b''       b'detached'       0   b'freehold'
4    28750  10214       b''       b''           b'flat'       0  b'leasehold'
5    83000  10058       b''       b''       b'detached'       0   b'freehold'
6    17000   9864       b''       b''       b'terraced'       0   b'freehold'
7    40000  10277       b''       b''  b'semi-detached'       0   b'freehold'
8    19000  11544       b''       b''  b'semi-detached'       0   b'freehold'
9    32450  11379       b''       b''  b'semi-detached'       0   b'freehold'
10   47500  11558       b''       b''       b'terraced'       0   b'freehold'
11   20000  11540       b''       b''       b'terraced'       0   b'freehold'
12   88500  11411       b''       b''       b'terraced'       0   b'freehold'
13   46000  11929       b''       b''       b'terraced'       0   b'freehold'
14  199950  11908       b''       b''       b'detached'       1   b'freehold'
15  150000  11698       b''       b''       b'detached'       0  b'leasehold'
16  350000  12230       b''       b''       b'detached'       0   b'freehold'
17   87500  12335       b''       b''  b'semi-detached'       0   b'freehold'
18  140000  12149       b''       b''  b'semi-detached'       0   b'freehold'
19   76000  12984       b''       b''  b'semi-detached'       0   b'freehold'
20  157000  13126       b''       b''  b'semi-detached'       0   b'freehold'
21  715000  13385       b''       b''       b'detached'       0   b'freehold'
22  187000  13334       b''       b''  b'semi-detached'       0   b'freehold'
23  310275  14162       b''       b''       b'terraced'       0   b'freehold'
24  337000  15274       b''       b''  b'semi-detached'       0   b'freehold'
25  260000  15933       b''       b''  b'semi-detached'       0   b'freehold'
26   58000  16332       b''       b''       b'terraced'       0   b'freehold'
27  215000  16765       b''       b''  b'semi-detached'       0   b'freehold'
28  525000  17288       b''       b''          b'other'       0   b'freehold'
29   87500  17550       b''       b''       b'terraced'       0   b'freehold'
30   37000  18316       b''       b''          b'other'       0   b'freehold'
31  480000  18642       b''       b''          b'other'       0   b'freehold'
32  130000  18900       b''       b''          b'other'       0   b'freehold'
33   79000  18901       b''       b''          b'other'       0   b'freehold'
34  174000  13497       b''       b''           b'flat'       1  b'leasehold'
35   15000  16891       b''       b''          b'other'       1  b'leasehold'
36   15000  16891       b''       b''          b'other'       1  b'leasehold'
37   15000  17105       b''       b''          b'other'       1  b'leasehold'
38   15000  17120       b''       b''          b'other'       1  b'leasehold'
39   10000  16948       b''       b''          b'other'       1  b'leasehold'
40   63500  13119       b''       b''           b'flat'       0  b'leasehold'
41  119950  12957       b''       b''           b'flat'       1  b'leasehold'
42  123000  13319       b''       b''           b'flat'       0  b'leasehold'
43   50418  10332       b''       b''           b'flat'       0  b'leasehold'
44  146000  13763       b''       b''           b'flat'       0  b'leasehold'
45   85000  13893       b''       b''           b'flat'       0  b'leasehold'
46   78440  12153       b''       b''           b'flat'       0  b'leasehold'
47    3800  17312       b''       b''          b'other'       0   b'freehold'
48   15000  16891       b''       b''          b'other'       1  b'leasehold'
49  870000  16577       b''       b''          b'other'       0  b'leasehold'

   addr1                         addr2                street  \
0   b'1'                           b''     b'KINGSLAND ROAD'
1   b'1'                           b''       b'HANGMAN PATH'
2   b'1'                           b''         b'NORTH ROAD'
3   b'1'                           b''         b'MANOR ROAD'
4   b'1'                           b''        b'WHARF HOUSE'
5   b'1'                           b''  b'YONDERTOWN SQUARE'
6   b'1'                           b''       b'CROSS STREET'
7   b'1'                           b''          b'LEYS LANE'
8   b'1'                           b''       b'STATION ROAD'
9   b'1'                           b''        b'WATTON ROAD'
10  b'1'                           b''         b'HILL CREST'
11  b'1'                           b''      b'WESLEY STREET'
12  b'1'                           b''         b'WILLS GILL'
13  b'1'                           b''      b'BRYN LLEWELYN'
14  b'1'                           b''        b'CHURCH VIEW'
15  b'1'                           b''      b'MONCKTON ROAD'
16  b'1'                           b''       b'OLDEAN CLOSE'
17  b'1'                           b''     b'MULLOCK BRIDGE'
18  b'1'                           b''          b'LYNN ROAD'
19  b'1'                           b''     b'GIDDIGATE LANE'
20  b'1'                           b''     b'VIVIAN TERRACE'
21  b'1'                           b''     b'WHITEGATE FOLD'
22  b'1'                           b''         b'THE SQUARE'
23  b'1'                           b''        b'CEDAR GROVE'
24  b'1'                           b''      b'MARSHALL ROAD'
25  b'1'                           b''          b'THE POUND'
26  b'1'                           b''     b'CULSHAW STREET'
27  b'1'                           b''          b'HALL LANE'
28  b'1'                           b''  b'WHITE POST STREET'
29  b'1'                           b''     b'BROWNING COURT'
30  b'1'                           b''       b'CLIVE STREET'
31  b'1'                           b''        b'CHURCH ROAD'
32  b'1'                           b''         b'ASPEN MEWS'
33  b'1'                           b''  b'REDBRINK CRESCENT'
34  b'1'             b'APARTMENT 1003'       b'HORNBEAM WAY'
35  b'1'  b'BASEMENT PARKING SPACE 23'   b'CAMBRIDGE STREET'
36  b'1'  b'BASEMENT PARKING SPACE 34'   b'CAMBRIDGE STREET'
37  b'1'  b'BASEMENT PARKING SPACE 40'   b'CAMBRIDGE STREET'
38  b'1'   b'BASEMENT PARKING SPACE 7'   b'CAMBRIDGE STREET'
39  b'1'       b'CAR PARKING SPACE 35'        b'HAGLEY ROAD'
40  b'1'           b'FIRST FLOOR FLAT'        b'EARL STREET'
41  b'1'                       b'FLAT'        b'PARC Y COED'
42  b'1'                       b'FLAT'     b'WEST LEA DRIVE'
43  b'1'                     b'FLAT 1'     b'EVELYN GARDENS'
44  b'1'                     b'FLAT 1'    b'ST JAMES SQUARE'
45  b'1'                     b'FLAT 2'      b'REGENT STREET'
46  b'1'                     b'FLAT 3'     b'SPENCER STREET'
47  b'1'     b'GARAGE ASSOCIATED WITH'        b'ARROWE VIEW'
48  b'1'  b'LEVEL 0, PARKING SPACE 16'   b'CAMBRIDGE STREET'
49  b'1'      b'MORTONS BAR AND GRILL'      b'MARKET SQUARE'

                    locality               town  \
0              b'BIRKENHEAD'      b'BIRKENHEAD'
1            b'COMBE MARTIN'      b'ILFRACOMBE'
2                b'ST TEATH'          b'BODMIN'
3   b'TERRINGTON ST CLEMENT'     b"KING'S LYNN"
4                 b'RUGELEY'         b'RUGELEY'
5                  b'LUTTON'       b'IVYBRIDGE'
6              b'WADEBRIDGE'      b'WADEBRIDGE'
7               b'WINTERTON'      b'SCUNTHORPE'
8               b'KEYINGHAM'            b'HULL'
9           b'GREAT HOCKHAM'        b'THETFORD'
10                       b''  b'BARNARD CASTLE'
11          b'SOUTH SHIELDS'   b'SOUTH SHIELDS'
12               b'GUISELEY'           b'LEEDS'
13              b'PENMACHNO'    b'BETWS-Y-COED'
14             b'WADEBRIDGE'      b'WADEBRIDGE'
15              b'WAKEFIELD'       b'WAKEFIELD'
16                b'READING'         b'READING'
17                   b'DALE'   b'HAVERFORDWEST'
18      b'TILNEY ALL SAINTS'     b"KING'S LYNN"
19              b'LIVERPOOL'       b'LIVERPOOL'
20              b'MOUSEHOLE'        b'PENZANCE'
21       b'CHARNOCK RICHARD'         b'CHORLEY'
22                 b'LENHAM'       b'MAIDSTONE'
23              b'HARROGATE'       b'HARROGATE'
24                       b''       b'GODALMING'
25                b'OAKHILL'        b'RADSTOCK'
26                       b''       b'BLACKBURN'
27                b'BRANDON'        b'GRANTHAM'
28                       b''          b'LONDON'
29            b'TATTERSHALL'         b'LINCOLN'
30                       b''  b'STOKE-ON-TRENT'
31             b'ALPHINGTON'          b'EXETER'
32                       b''      b'NOTTINGHAM'
33                       b''           b'BARRY'
34                       b''      b'MANCHESTER'
35                       b''      b'MANCHESTER'
36                       b''      b'MANCHESTER'
37                       b''      b'MANCHESTER'
38                       b''      b'MANCHESTER'
39                       b''      b'BIRMINGHAM'
40                b'GRIMSBY'         b'GRIMSBY'
41                  b'EWLOE'         b'DEESIDE'
42                       b''           b'LEEDS'
43                 b'LONDON'          b'LONDON'
44               b'WADHURST'        b'WADHURST'
45              b'KINGSWOOD'         b'BRISTOL'
46                       b''        b'BEVERLEY'
47                       b''          b'WIRRAL'
48                       b''      b'MANCHESTER'
49          b'DICKENS HEATH'        b'SOLIHULL'

                           district                       county
0                         b'WIRRAL'                b'MERSEYSIDE'
1                    b'NORTH DEVON'                     b'DEVON'
2                 b'NORTH CORNWALL'                  b'CORNWALL'
3   b"KING'S LYNN AND WEST NORFOLK"                   b'NORFOLK'
4                  b'CANNOCK CHASE'             b'STAFFORDSHIRE'
5                     b'SOUTH HAMS'                     b'DEVON'
6                 b'NORTH CORNWALL'                  b'CORNWALL'
7             b'NORTH LINCOLNSHIRE'        b'NORTH LINCOLNSHIRE'
8       b'EAST RIDING OF YORKSHIRE'  b'EAST RIDING OF YORKSHIRE'
9                      b'BRECKLAND'                   b'NORFOLK'
10                 b'COUNTY DURHAM'             b'COUNTY DURHAM'
11                b'SOUTH TYNESIDE'             b'TYNE AND WEAR'
12                         b'LEEDS'            b'WEST YORKSHIRE'
13                         b'CONWY'                     b'CONWY'
14                b'NORTH CORNWALL'                  b'CORNWALL'
15                     b'WAKEFIELD'            b'WEST YORKSHIRE'
16                       b'READING'                   b'READING'
17                 b'PEMBROKESHIRE'             b'PEMBROKESHIRE'
18  b"KING'S LYNN AND WEST NORFOLK"                   b'NORFOLK'
19                        b'SEFTON'                b'MERSEYSIDE'
20                       b'PENWITH'                  b'CORNWALL'
21                       b'CHORLEY'                b'LANCASHIRE'
22                     b'MAIDSTONE'                      b'KENT'
23                     b'HARROGATE'           b'NORTH YORKSHIRE'
24                      b'WAVERLEY'                    b'SURREY'
25                        b'MENDIP'                  b'SOMERSET'
26         b'BLACKBURN WITH DARWEN'     b'BLACKBURN WITH DARWEN'
27                b'SOUTH KESTEVEN'              b'LINCOLNSHIRE'
28                      b'LEWISHAM'            b'GREATER LONDON'
29                  b'EAST LINDSEY'              b'LINCOLNSHIRE'
30                b'STOKE-ON-TRENT'            b'STOKE-ON-TRENT'
31                        b'EXETER'                     b'DEVON'
32            b'CITY OF NOTTINGHAM'        b'CITY OF NOTTINGHAM'
33         b'THE VALE OF GLAMORGAN'     b'THE VALE OF GLAMORGAN'
34                    b'MANCHESTER'        b'GREATER MANCHESTER'
35                    b'MANCHESTER'        b'GREATER MANCHESTER'
36                    b'MANCHESTER'        b'GREATER MANCHESTER'
37                    b'MANCHESTER'        b'GREATER MANCHESTER'
38                    b'MANCHESTER'        b'GREATER MANCHESTER'
39                    b'BIRMINGHAM'             b'WEST MIDLANDS'
40       b'NORTH EAST LINCOLNSHIRE'   b'NORTH EAST LINCOLNSHIRE'
41                    b'FLINTSHIRE'                b'FLINTSHIRE'
42                         b'LEEDS'            b'WEST YORKSHIRE'
43        b'KENSINGTON AND CHELSEA'            b'GREATER LONDON'
44                       b'WEALDEN'               b'EAST SUSSEX'
45         b'SOUTH GLOUCESTERSHIRE'     b'SOUTH GLOUCESTERSHIRE'
46      b'EAST RIDING OF YORKSHIRE'  b'EAST RIDING OF YORKSHIRE'
47                        b'WIRRAL'                b'MERSEYSIDE'
48                    b'MANCHESTER'        b'GREATER MANCHESTER'
49                      b'SOLIHULL'             b'WEST MIDLANDS'
Number of rows: 2772030